btn {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.btn:active:not([disabled]) {
	transform: scale(0.98);
}

.btn:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/* --- Variants --- */
.btn--primary {
	background-color: #007bff;
	color: white;
}

.btn--primary:hover:not([disabled]) {
	background-color: #0056b3;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: all 0.3s ease-in-out;
}

.btn--secondary {
	background-color: #6c757d;
	color: white;
}
.btn--secondary:hover:not([disabled]) {
	background-color: #4c5257;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: all 0.3s ease-in-out;
}

.btn--secondary:hover:not([disabled]) {
	background-color: #545b62;
}

.btn--danger {
	background-color: #dc3545;
	color: white;
}

.btn--danger:hover:not([disabled]) {
	background-color: #bd2130;
}
.btn:focus-visible{
	outline: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn:focus{
	outline: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media only screen and (max-width: 600px) {
	.btn {
		font-size: 1em;
		min-width: 155px;
	}
}